**/__pycache__/*
**/.ipynb_checkpoints/*

*.csv

cache/
notebooks/
*.parquet
*.pkl
*.ipynb
logs/
secrets/
liveenv
*.env
*.env.local
*.env.demo
*.log

# terraform
terraform.tfstate
terraform.tfstate*
.terraform*
.infracost
.tflint.hcl